// COLORS 
// LIGHT THEME
$light-blue: #B1D4E0;
$primary-blue: #2E8BC0;
$dark-blue: #0C2D48;
$secondary-blue: #145DA0;

// DARK THEME
$midnight-blue: #003D7A;
$navy-blue: #04247C;
$just-blue: #0458AB;

// FONT
$default-font-size: 1.6rem;