<div class="mat-tab-content">
    <h3>Forms</h3>
    <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput>
        <mat-hint></mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput>
        <mat-hint></mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>What do you prefer?</mat-label>
        <mat-select>
            <mat-option value="cats">Cats</mat-option>
            <mat-option value="dogs">Dogs</mat-option>
            <mat-option value="both">Both</mat-option>
        </mat-select>
    </mat-form-field>
</div>