<div class="material-container">
    <section class="material-forms">
        <!-- <h3 class="material-section-title">Forms</h3> -->
        <div class="form" [formGroup]="form">
            <mat-form-field appearance="standard">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName">
                <mat-error *ngIf="form.get('firstName').invalid">Please enter your first name</mat-error>
            </mat-form-field>
            <mat-form-field appearance="standard">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName">
                <mat-error *ngIf="form.get('lastName').invalid">Please enter your last name</mat-error>
            </mat-form-field>
            <mat-form-field appearance="standard">
                <mat-label>Which animal do you prefer?</mat-label>
                <mat-select formControlName="preferredAnimal">
                    <mat-option value="cats">Cats</mat-option>
                    <mat-option value="dogs">Dogs</mat-option>
                    <mat-option value="both">Both</mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('preferredAnimal').invalid">Please pick an option</mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="openDialog()">Submit</button>
        </div>
    </section>
</div>