<main class="home-container">
    <div class="flex al-start just-space-between introduction-container">
        <section class="introduction-section">
            <h1 class="title home-title">
                portfolio
            </h1>
            <p>This are some of the technologies, libraries and languages I have learned and used in my years as a frontend developer.</p>
        </section>
        <section class="technologies-section">
            <h2 class="subtitle technologies-title">most used technologies</h2>
            <div class="technologies-container">
                <img class="technology-item" alt="git"
                    src="https://img.shields.io/badge/-Git-F05032?style=flat&logo=git&logoColor=white" />
                <img class="technology-item" alt="angular"
                    src="https://img.shields.io/badge/-Angular-DD0031?style=flat&logo=angular&logoColor=white" />
                <img class="technology-item" alt="npm"
                    src="https://img.shields.io/badge/-NPM-CB3837?style=flat&logo=npm&logoColor=white" />
                <img class="technology-item" alt="TypeScript"
                    src="https://img.shields.io/badge/-TypeScript-007ACC?style=flat&logo=typescript&logoColor=white" />
                <img class="technology-item" alt="html5"
                    src="https://img.shields.io/badge/-HTML5-E34F26?style=flat&logo=html5&logoColor=white" />
                <img class="technology-item" alt="Sass"
                    src="https://img.shields.io/badge/-Sass-CC6699?style=flat&logo=sass&logoColor=white" />
                <img class="technology-item" alt="redux"
                    src="https://img.shields.io/badge/-Redux-764ABC?style=flat&logo=redux&logoColor=white" />
                <img class="technology-item" alt="ReactiveX"
                    src="https://img.shields.io/badge/-RxJs-B7178C?style=flat&logo=reactivex&logoColor=white" />
            </div>
        </section>
    </div>
    <section class="section-right material-section">
        <h2 class="subtitle">
            Angular Material
        </h2>
        <ng-container>
            <app-material></app-material>
        </ng-container>
    </section>
    <section class="section-right bootstrap-section">
        <h2 class="subtitle">
            bootstrap
        </h2>
    </section>
</main>