<main class="about-container">
    <section class="presentation-section">
        <div class="presentation-right">
            <h1 class="greetings-title">
                Hi there!
            </h1>
            <p class="introduction-text">Let me introduce myself, my name is Andrés Valencia, I'm from    Colombia and I'm a Telemathic Engineer from ICESI University. I started engaging with the <strong>frontend development</strong> in 2017 on the last semesters of my career. Learning the basics of <strong>HTML, CSS and Javascript</strong> and after that began learning <strong>React.js</strong> for some projects. Later I discover the <strong>Angular Framework</strong><i> (In that time was Angular 5 near to upgrade to Angular 6).</i> And there is when my path as a Frontend Developer started.</p>
        </div>
        <div class="presentation-left">
            <img class="presentation-img" src="../../../../assets/images/image2.jpg" alt="me">
        </div>
    </section>
    <hr>
    <section class="hobbies-section">

    </section>
</main>